.block{
    min-height: 120px;
    background-color: rgb(2, 93, 2);
    color: white;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: Tahoma, Verdana, sans-serif;
    cursor: pointer;
    border-radius: 10px;
    flex-grow: 1;
    word-wrap: break-word;
    max-width: calc(50% - 20px);
}

.block span{
    max-width: 100%;
}

@media screen and (max-width: 1000px){
    .block{
        max-width: calc(100% - 40px);
    }
}