*{
    box-sizing: border-box;
    font-family: Tahoma, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.app-wrapper{
    min-height: 100vh;
    font-size: 20px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 60px 1fr auto;
    grid-gap: 0.5em;
    grid-template-areas: 
    "h h h"
    "n c c"
    "f f f";
}



@media screen and (max-width: 600px){
    .app-wrapper{
        grid-template-areas: 
        "h h h"
        "n n n"
        "c c c"
        "f f f"
        ;
        grid-template-rows: 60px auto 1fr 100px;
    }
}
